[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
requests = "*"
psycopg2-binary = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
black = "*"
redis = "*"
rq = "*"
elasticsearch = "*"
beautifulsoup4 = "*"
flask-cors = "*"
sendgrid = "*"

[requires]
python_version = "3.7"
